---
layout: default
title: 404
permalink: /404.html
---

<div class="text-center">
<h1 class="display-1 mt-5 mb-4"><span class="badge badge-danger">404</span> ¡Creo que te has equivocado de página!</h1>
<p>Usa la barra de búsqueda en la parte superior o accede a la <a href="{{site.baseurl}}/">página de inicio</a>.</p>
</div>
