<div class="share sticky-top sticky-top-offset">
    <p>
        Compartir
    </p>
    <ul id="share-buttons">
        <li class="ml-1 mr-1">
            <a href="#"
                id="emailMe"
                class="custom-tooltip"
                onmouseenter="renderTooltipText(this);">
                <i class="fa fa-envelope"></i>
                <span class="custom-tooltip-text" data-tooltip-text="Enviar por email"></span>
            </a>
            <script>
                var emailSubject = "Receta de " + document.title;
                var emailBody = "Encontré esta receta de {{ page.title }} y me acordé de ti: " + window.location.href;
                document.getElementById('emailMe').href = "mailto:" +
                    "?subject=" + encodeURIComponent(emailSubject) +
                    "&body=" + encodeURIComponent(emailBody);
            </script>
        </li>

        <li class="ml-1 mr-1">
            <a href="#"
                class="custom-tooltip"
                onclick="navigator.clipboard.writeText(window.location.href); updateTooltipText(this, '¡URL copiada!');"
                onmouseenter="renderTooltipText(this);">
                <i class="fa fa-clipboard"></i>
                <span id="clipboard-tooltip-text" class="custom-tooltip-text" data-tooltip-text="Copiar URL al portapapeles"></span>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a href="#"
                class="custom-tooltip"
                onclick="window.print();"
                onmouseenter="renderTooltipText(this);">
                <i class="fa fa-print"></i>
                <span class="custom-tooltip-text" data-tooltip-text="Imprimir"></span>
            </a>
        </li>

    </ul>
    {% if page.comments == true %}
    <div class="sep">
    </div>
    <ul>
        <li>
        <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>
