/*
    Print posts with paper-friendly format.
    (C) by: Cristian G Guerrero
    Published under AGPLv3 license.
*/
@media print {
    /* Hide superfluous elements that should not be printed */
    .navbar, .col-md-2.pl-0 /*.share*/, .post-top-meta, .post-date,
    .jumbotron, .after-post-tags, .PageNavigation {
        display: none!important;
    }
    /* Show the title (we may want to use a different style for this */
    .sitetitle, .sitetitle+.lead {
        display: block;
    }
    /* Remove unneeded margins and padding */
    .site-content, .mainheading {
        padding: 0;
        margin-bottom: 0;
    }
    /* Place post title into a new row above the content */
    .main-content {
        padding-top: 5rem;
    }
    .main-content .mainheading {
        margin-top: -4rem;
        padding-bottom: 1rem;
    }
    .main-content .mainheading h1 {
        line-height: 1;
        font-size: 2rem;
    }
    /* Full-width images with limited height */
    .main-content img {
        max-height: 7cm;
        width: 100%;
        object-fit: cover;
    }
    /* Two-column layout for the main content */
    .main-content>.container {
        columns: 2;
        column-gap: 1cm;
        padding: 0;
    }

    img#cc-license {
        width: auto;
    }
}
